# Arquivos especificos do Android Studio
.idea/
/.idea/codeStyles/
/.idea/runConfigurations/
/.idea/shelf/
/.idea/.name
/.idea/compiler.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/vcs.xml
*.iws
local.properties
*.iml

# Gradle e builds
.gradle/
gradle-app.setting/
!gradle-wrapper.jar
/build/
build/
output.json

# Arquivos temporarios/gerados
*.log
*.bak
*.swp
*.swo
*.hprof
*.orig

# Chaves/credenciais (evite commit acidental)
debug.keystore
release.keystore
*.jks

# Firebase/Crashlytics (se aplicavel)
google-services.json
fabric.properties